<header class="site-header" role="banner">

  <div class="nav-title">
    <h1>
      <a href="{{ site.url }}/">
        {{ site.title }}
      </a>
    </h1>

    <button class="nav-button" onclick="toggleMenu()">
      <!-- &#9776; -->
      <!-- <svg class="qodef--initial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="13" x="0px" y="0px" viewBox="0 0 21.3 13.7" xml:space="preserve" aria-hidden="true"><rect x="10.1" y="-9.1" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 11.5 -9.75)" width="1" height="20"/><rect x="10.1" y="-3.1" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 17.5 -3.75)" width="1" height="20"/><rect x="10.1" y="2.9" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 23.5 2.25)" width="1" height="20"/></svg> -->
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
        <!-- Draws hamburger:
        Upper bun:
          M 21 6  : Pick up pen - move to (x=21,y=6)
          H 3     : Put down pen - move horizontally to x=3
          V 5     : Move vertically to y=5
          h 18    : Move right by 18 from current position
          v 1     : Move down by 1 from current position
          z       : Draw a straight line back to start
        Middle bun:
          m 0 5 : Pick up pen - move down by 5 from current position
          H 3   : Put down pen - move horizontally to x=3
          v 1   : Move down by 1 from current position
          h 18  : Move right by 18 from current position
          v -1  : Move up by 1 from current position
          z     : Draw a straight line back to start
        Lower bun:
          m 0 6 : Pick up pen - move down by 6 from current position
          H 3   : Put down pen - move horizontally to x=3
          v 1   : Move down by 1 from current position
          h 18  : Move right by 18 from current position
          v -1  : Move up by 1 from current position
          z     : Draw a straight line back to start
        -->
        <path d="
          M 21 6
          H 3
          V 5
          h 18
          v 1
          z
          m 0 5
          H 3
          v 1
          h 18
          v -1
          z
          m 0 6
          H 3
          v 1
          h 18
          v -1
          z
        "></path>
      </svg>
    </button>
  </div>

  <!-- <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a> -->

  <!--
    Separated nav button from actual nav menu/list.
    Ensures nav button is in same line/horizontal as title itself.
    Makes it easier to integrate menu in mobile mode - uses "block" display instead of "flex" (per nav button & title).
  -->

  <nav>
    <!-- <ul id="menu"> -->
    <ul id="menu">
      {% for link in site.data.navigation %}
      <li {% if link.url == page.url %} class="active"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>