<header class="site-header" role="banner">

  <div class="nav-title">
    <h1>
      <a href="{{ site.url }}/">
        {{ site.title }}
      </a>
    </h1>

    <button class="nav-button" onclick="toggleMenu()">
      &#9776;
    </button>
  </div>

  <!--
    Separated nav button from actual nav menu/list.
    Ensures nav button is in same line/horizontal as title itself.
    Makes it easier to integrate menu in mobile mode - uses "block" display instead of "flex" (per nav button & title).
  -->

  <nav>
    <!-- <ul id="menu"> -->
    <ul id="menu">
      {% for link in site.data.navigation %}
      <li {% if link.url == page.url %} class="active"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>