// :root {
//     --color-primary: #0a192f;
//     --color-secondary: #172a45;
//     --color-highlight: #64ffda;
//     --color-text-primary: #ccd6f6;
//     --color-text-secondary: #8892b0;
// }

:root {
  // --color-primary: #061120;
  // --color-secondary: #0e1d33;

  --max-vw: 1800px; //1280px;

  //--------------------------------
  // Dark
  //--------------------------------
  --color-primary: #030b16;
  --color-secondary: #081425;
  --color-highlight: #64ffda;
  --color-text-primary: #ccd6f6;
  --color-text-secondary: #8892b0;

  //--------------------------------
  // Light
  //--------------------------------
  --color-text-primary: #030b16;
  --color-text-secondary: #081425;
  --color-highlight: #143f7c;
  --color-primary: #ffffff;
  --color-secondary: #f8f8f8;
  // --color-secondary: #ffffff;
}

html {
  font-size: 18px; // change to whatever
}

body {
  // font-family: "Roboto Mono", monospace;
  // font-family: "Comic Neue", cursive;
  // font-family: "Libre Baskerville", serif;
  font-family: "Noto Sans", serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

.container {
  // width: 80%;
  // padding: 20px;
  width: 100%;
  padding: 0px;
  margin: auto;
  // overflow: hidden;
  max-width: var(--max-vw);
}

p {
  text-align: justify;
}

// header h1, header p {
//   // margin: 10px 0px 0px 0px;
//   margin: 10px;
//   text-align: center;
// }

footer p {
  text-align: center;
}

a {
  color: var(--color-text-primary);
  text-decoration-line: underline;
  font-weight: normal;
}

.portfolio-topic h3 a {
  font-weight: bold;
}

a:hover {
  color: var(--color-highlight);
  // font-weight: bold;
  text-decoration-line: underline;
}

h1 a {
  font-weight: bold;
  text-decoration: none;
}

//=================================================
// Header properties
//=================================================
header {
  background: var(--color-primary);
  color: var(--color-text-primary);

  padding-top: 20px;
  padding: 20px;
  min-height: 70px;

  position: sticky;
  top: 0;
  transition: transform 0.2s ease-in-out;
  z-index: 1000;

  border-bottom: var(--color-highlight) 0px solid;
  // border-bottom: var(--color-highlight) 0.5rem solid;
  display: flex;
  // resize: horizontal;
  align-items: center;
}
header.hide {
  transform: translateY(-100%);
}
// header nav ul {
//   display: block;
//   margin: 0;
//   padding: 10px;
//   list-style: none;
//   text-align: right;
// }
// header nav ul li {
//   display: inline;
//   margin: 0 20px;
// }
/* header nav div.nav-button {
  display: flex;
  flex: auto;
} */
header div.nav-title h1 {
  // float: left;
  margin: 10px;
  text-align: left;
  flex: auto;
}
header div.nav-title button.nav-button {
  display: none;
  font-size: 24px;
  padding: 10px;
  color: var(--color-text-primary);
  flex: auto;
}
header nav {
  position: absolute;
  right: 0px;
  padding: 20px;
}
header nav ul#menu {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  font-size: 18px;
  flex: auto;
  display: inline-flex;
}
header nav ul#menu li {
  list-style: none;
  // float: right;
  flex: auto;
}
header nav ul#menu li a {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 16px;
  padding: 10px 0px;
  padding: 0px 20px;
}
header nav ul#menu li.active {
  text-decoration: underline;
}

// section {
//     padding: 20px 20px;
//     margin: 20px 20px 20px 20px;
//     background: var(--color-secondary);
//     border-radius: 5px;
// }
section {
  padding: 0px;
  margin: 20px 0px;
  border-radius: 0px;
  // animation: fadeIn 1s ease-in;
  // height: 100vh;
  // overflow: auto;

  margin: 20px 20px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  // position: sticky;
  // top: 0;
  overflow: auto;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr; */
  // grid-template-columns: minmax(auto, max-content) minmax(0px, max-content);
  grid-template-columns: 1fr minmax(0px, 1fr);
  gap: 20px;
  // align-items: start;
}

.grid-container-text {
  background-color: var(--color-secondary);
  background: var(--color-secondary);
  padding: 20px 30px;
}

div.grid-container-text ul {
  list-style-type: square;
  list-style-position: outside;
}

/*
// Make sure headings in standalone blocks stand out!
section div.grid-container-text h2,
section div.grid-container-text h3,
section div.grid-container-text h4,
section div.grid-container-text h5 {
  margin-bottom: 0px;
}
section div.grid-container-text h3 {
  margin-bottom: 0px;
}
*/

// .profile-pic-container {
.grid-container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-width: 0.5vh;
  // padding: 20px;
}

.profile-pic {
  width: 100%;
  height: auto;
  height: 100%;
  // max-width: calc(var(--max-vw) / 2);
  // max-height: 100vh;
  // border-radius: 20%;
  // Enforce square aspect ratio regardless of size.
  // aspect-ratio: 1;
  // border: 3px solid var(--color-highlight);
  // object-fit: cover;
  object-position: 50% 0;
  object-fit: cover;
}

.bio {
  background: var(--color-secondary);
  /* padding: 20px; */
  border-radius: 5px;
}

footer {
  background: var(--color-secondary);
  color: var(--color-text-secondary);
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

button {
  background-color: transparent;
  color: var(--color-highlight);
  border: 1px solid var(--color-highlight);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

/* Button to scropp back to top of page */
  /* .go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-highlight);
    color: var(--color-primary);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s, visibility 0.3s;
  } */
  /* .go-top-btn {
  --offset: 50px;
  position:fixed;
  bottom:20px;
  right: 20px;
  margin-top: calc(100vh + var(--offset));

  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: var(--color-primary);
  background: var(--color-highlight);
  border-radius: 100px;
  transition: opacity 0.3s, visibility 0.3s;
  display: none;
  grid-template-columns: auto 0px
  } */

  .go-top-btn {
  --offset: 50px;

  /* position: sticky; */
  position:fixed;
  bottom:20px;
  right: 20px;
  margin-right:10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  width:45px;
  aspect-ratio:1;
  color: var(--color-primary);
  background: var(--color-highlight);
  border-radius:10px;
  transition: opacity 0.3s, visibility 0.3s;
  }
  .go-top-btn:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid var(--color-primary);
  border-right:5px solid var(--color-primary);
  }
  .go-top-btn:hover {
    background-color: rgba(100, 255, 218, 0.8);
  }

//=================================================
// Mobile view
//=================================================
// Where stated, overrides settings above.
// @media screen and (max-width: 768px) {
@media screen and (max-width: 850px) {

  .grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .profile-pic {
    margin: 0px auto;
    // margin: 20px auto;
    // margin-top: 0px;
    max-width: 100vw;
    max-height: auto;
    aspect-ratio: 1;
  }

  //-------------------------------------------------
  // Mobile heading MUST be "display: block"
  //-------------------------------------------------
  header {
    display: block;
  }
  // Flex box does not properly render contents - reset all "flex" tags in header.
  // If flex needed below, override accordingly.
  header * {
    flex: none;
  }
  header div.nav-title {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }
  // Nav button flushed to rightmost of screen.
  header div.nav-title button.nav-button {
    display: block;
    right: 0px;
    flex: inherit;
  }
  header nav {
    position: unset;
    padding: 0px;
  }
  header nav ul#menu {
    display: none;
    float: none;
    margin: 10px 10px;
  }
  // Overrides "header nav ul" above - show when burger clicked.
  header nav ul#menu.show {
    display: block;
  }
  // If parent "ul#menu" shows, "a" is always a block text.
  header nav ul#menu li {
    display: block;
    padding: 10px 10px;
  }

  // header nav ul#menu {
  //   float: none;
  //   margin: 10px 10px;
  // }

  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }

  .grid-container-text {
    padding: 20px;
  }
}

@keyframes fadeInUp {
  0%  {
    transform:translate(0px, 100px);
    opacity: 0;
  }
  100%  {
    transform:translate(0px, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* .fade-in { */
// body {
//   animation: fadeIn 0.5s ease-in;
// }
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

// body section {
//     animation: fadeIn 100s ease-in;
// }
// -webkit-animation: myAnimation 0.9s linear 0.4s forwards;

/*
@property --wipe-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

.wipe {
  --wipe-position: 100%;
  --gradient-length: 0%;
  mask: linear-gradient(
    to bottom,
    red var(--wipe-position),
    transparent calc(var(--wipe-position)),
    transparent
  );

  transition: --wipe-position 250ms ease-in;
}

.wipe:hover {
  --wipe-position: calc(-1 * var(--gradient-length));
}
*/