---
layout: default
---

<section>
<div class="grid-container">
  <div class="grid-container-text">
    {{ content }}
  </div> <!--grid-container-text-->
  <div class="grid-container-profile">
    <img src="{{ site.url }}/assets/img/cv_bg.png" alt="Picture of me at work." class="profile-pic" />
  </div> <!--grid-container-profile-->
</div>
</section>

<!-- TODO: post.nav_order does not work on GitHub Pages, just using "nav_order" does -->
{% assign posts = site.cv | sort: "nav_order" %}
{% for post in posts %}
<section>
<div class="grid-container-text">
  {{ post.content }}
</div>
</section>
{% endfor %}